target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
derby.log
.mvn/timing.properties
.idea/
.DS_Store
release History/
skeleton/
skeleton2/
skeleton-derby/
docs/
*.iml

#Generated source files
src/main/java/com/neptunedreams/skeleton/gen

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
